.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 600px;
}

.price_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
}

.largeIcon {
  width: 30px;
  height: 30px;
}

.slice {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
