.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.price_button {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 8px;

}

.largeIcon {
  width: 24px;
  height: 24px;
}

.slice {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bunRow {
  display: flex;
  align-items: center;
  gap: 28px;
  cursor: auto;
}

.placeholder {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.scrollableArea {
  overflow-y: visible;
}

.bunSection {
  margin-bottom: 16px;
}

.emptyBunPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-width: 488px;
  height: 90px;
  padding: 16px 24px;
  color: #8585ad;
  font-size: 16px;
  font-family: 'Jet Brains Mono', sans-serif;
  line-height: 24px;
  text-align: center;
  background-color: #1c1c21;
  border: 2px dashed #8585ad;
  border-radius: 40px;
  transition: all 0.3s ease;
}

.emptyBunPlaceholder:hover {
  color: #f2f2f3;
  border-color: #4c4cff;
}
