/* src/pages/login.module.css */

.container {
  min-height: 70vh;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 24px;
  background: #1c1c21;
  border-radius: 40px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 24px;
}

.error {
  color: #ff5555;
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px; /* 24px × 6 от последнего поля до кнопки */
}

.links {
  margin-top: 80px; /* 80px × 20 от кнопки до ссылок */
  text-align: center;
  font-size: 16px;
  color: #aaa;
  line-height: 1.5;
}

.links a {
  color: #4d4dff;
  text-decoration: underline;
  margin-left: 0.25rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.links a:hover {
  color: #c684ff;
}