/* src/pages/profile.module.css */

.container {
  display: flex;
  gap: 4rem;
  padding: 4rem 2rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

.navItem {
  display: block;
  padding: 0.75rem 0;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
  border: none;
  background: none;
}

.navItem:hover {
  color: #cccccc;
}

.navItem_active {
  color: #ffffff;
  font-weight: 500;
}

/* Надпись под пунктом "Выход" */
.hint {
  margin-top: 80px; /* Отступ от пункта "Выход" */
  padding-top: 24px;
  text-align: left; /* По левому краю */
  color: #6e6c6c;
}

