.main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 60%);
}

.modalContent {
  position: relative;
  box-sizing: border-box;
  width: 600px;
  height: 500px;
  padding: 20px;
  background: #1c1c21;
  border-radius: 16px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.closeButton:hover {
  background: rgb(255 255 255 / 10%);
  border-radius: 50%;
}
