.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.orderNumber {
  margin-bottom: 32px;
  font-size: 90px;
  text-shadow:
    0 0 16px rgb(51 51 255 / 25%),
    0 0 8px rgb(51 51 255 / 25%),
    0 4px 32px rgb(51 51 255 / 50%);
}

.orderId {
  margin-bottom: 60px;
  font-size: 18px;
}

.icon {
  margin-bottom: 60px;
}

.status {
  margin-bottom: 8px;
  font-size: 16px;
}

.waiting {
  margin-bottom: 20px;
  color: #8585ad;
  font-size: 16px;
}
