.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 530px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
