.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 24rem;
  margin: 0;
  padding-left: 24px; /* ← отступ для выравнивания с булками */
  overflow-y: auto;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
}

.ingredientItem {
  display: flex;
  align-items: center;
}

.dragWrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
