.container {
  display: flex;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem 2rem;
  color: white;
  min-height: 100vh;
}

.nav {
  width: 250px;
  flex-shrink: 0;
}

.navItem {
  display: block;
  padding: 0.75rem 0;
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
}

.navItem:hover {
  color: #ccc;
}

.navItem_active {
  color: #fff;
  font-weight: 500;
}

.hint {
  margin-top: 80px;
  padding-top: 24px;
  color: #6e6c6c;
  text-align: left;
}

.content {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 80px);
  padding-right: 4px;

  scrollbar-color: #101009 transparent;
}

.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-thumb {
  background: #101009;
  border-radius: 3px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}